<h2>Búsqueda de restaurantes</h2>

<form id="restaurants-form" class="col s12" action="/restaurantes-ajax" method="post">
    <div class="input-field col s12">
      <select id="cocina" name="cocina">
        <option value="" disabled selected>Elige un tipo de cocina</option>
        {% for tipo_cocina in tipos_cocina %}
          <option value={{tipo_cocina}}>{{tipo_cocina}}</option>
        {% endfor %}
      </select>
      <label>Tipo de cocina</label>
    </div>

    <div class="input-field col s12">
      <select id="barrio" name="barrio">
        <option value="" disabled selected>Elige un barrio</option>
        {% for barrio in barrios %}
          <option value={{barrio}}>{{barrio}}</option>
        {% endfor %}
      </select>
      <label>Barrio</label>
    </div>
    <input type="hidden" value="0" id="current_restaurants">

    <button class="teal darken-3 btn waves-effect waves-light" type="submit" name="action">Buscar
       <i class="material-icons left">search</i>
     </button>
  </form>

  <table class="striped">
    <thead>
      <tr>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Puntuaciones</th>
      </tr>
    </thead>
    <tbody id="restaurants-box">
    </tbody>
  </table>

  <button id="load_more" class="teal darken-3 btn waves-effect waves-light" name="action">Cargar más
  <i class="material-icons left">autorenew</i>
  </button>
