<footer class="page-footer light-blue accent-3 white-text">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <p class="col m6 s12">Sitio web creado para la práctica 3 de la asignatura DAI de la Universidad de Granada.</p>
        <p class="col m6 s12">Autor: Antonio Jesus Pelaez Priego</p>
      </div>
  </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script src="{{ url_for('static', filename='js/init.js') }}"></script>
<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>

</body>
</html>
