{% include 'header.html' %}

<div class="row">
  <div class="col m4 s12 grey-text text-darken-2 center-align">
    <h4>Menu</h4>
    <div class="collection">
      <a href="/variables" class="collection-item
        {% if content == 1 %} teal darken-3 white-text active
        {% else %} grey-text text-darken-2
        {% endif %}">Variables</a>
      <a href="/listas" class="collection-item
        {% if content == 2 %} teal darken-3 white-text active
        {% else %} grey-text text-darken-2
        {% endif %}">Listas</a>
      <a href="/funciones" class="collection-item
        {% if content == 3 %} teal darken-3 white-text active
        {% else %} grey-text text-darken-2
        {% endif %}">Funciones</a>
      <a href="/bucles" class="collection-item
        {% if content == 4 %} teal darken-3 white-text active
        {% else %} grey-text text-darken-2
        {% endif %}">Bucles</a>
    </div>
  </div>
  <div class="col m8 s12 grey-text text-darken-2">
    {% if session['username'] %}
      <h3>Bienvenido {{ session['username'] }}</h3>
    {% endif %}
    <h5 class="teal-text text-darken-3" >Página actual: {% if session['current_page'] %} {{ session['current_page'] }} {% endif %}</h5>
    <h5>Páginas visitadas anteriormente:</h5>
    <ul>
      <li class="teal-text text-darken-3">{% if session['last_page2'] %} {{ session['last_page2'] }} {% endif %}</li>
      <li class="teal-text text-darken-3">{% if session['last_page3'] %} {{ session['last_page3'] }} {% endif %}</li>
      <li class="teal-text text-darken-3">{% if session['last_page4'] %} {{ session['last_page4'] }} {% endif %}</li>
    </ul>

    {% if content == 3 %}
    <p>Con el fin de asegurar que una función se defina antes de su primer uso usted tiene que saber el orden en el que las sentencias se ejecutan, este orden de ejecución se denomina flujo de ejecución.
      La ejecución siempre empieza con la primera sentencia del programa. Las sentencias se ejecutan una a una, desde arriba hacia abajo.
      Las definiciones de función no alteran el flujo de ejecución del programa, pero recuerde que las sentencias que están dentro de las funciones no se ejecutan hasta que éstas sean llamadas. Aunque no es muy común, usted puede definir una función dentro de otra. En este caso, la definición interna no se ejecuta hasta que la función externa sea llamada.
      Las llamadas a función son como un desvío en el flujo de ejecución. En lugar de continuar con la siguiente sentencia, el flujo salta a la primera línea de la función llamada, ejecuta todas las sentencias de la función, y regresa para continuar donde estaba previamente.
      Esto suena sencillo, hasta que tenemos en cuenta que una función puede llamar a otra. Mientras se está ejecutando una función, el programa puede ejecutar las sentencias de otra función. Pero, mientras se está ejecutando la nueva función, el programa puede tener que ejecutar ¡otra función!
      Afortunadamente, Python es experto en hacer el seguimiento de sus movimientos, así que cada vez que una función termina, el programa regresa al punto de la función desde donde fue llamada la función que recien fue terminada. Cuando llega al fin del programa, la ejecución termina.
      ¿Cual es la moraleja de esta sórdida historia? Cuando lea un programa, no lo haga de arriba hacia abajo. En lugar de esto, siga el flujo de ejecución.
    </p>
    {% elif content == 2 %}
    <p>Una lista en Python es como un array en Perl. En Perl, las variables que almacenan arrays comienzan siempre con el carácter @; en Python, las variables pueden llamarse de cualquier modo, y Python lleva el registro del tipo de datos internamente.
       Una lista en Python es muy parecida a un array en Java (aunque se puede usar de ese modo si eso es todo lo que se espera en la vida). Se puede comparar mejor con la clase Vector, que puede guardar objetos arbitrarios y expandirse dinámicamente al añadir nuevos elementos.
    </p>
    {% elif content == 1 %}
    <p>
      Un valor es una de las cosas fundamentales que un programa manipula — como una letra o un número. Los valores que hemos visto hasta ahora son el número 4 (resultado de la adición de 2 + 2), y "¡Hola, todo el mundo!".
      Estos valores pertenecen a diferente clases (classes) o tipos: 4 es un entero, y "¡Hola, todo el mundo!" es una cadena , llamada así porque contiene una cadena de letras. Usted (y el intérprete) puede identificar cadenas porque están encerradas entre comillas.
      Si usted no está seguro de que clase se divide en un valor, Python tiene una función llamada tipo (type) la cual le incida a usted.
    </p>
    {% elif content == 4 %}
    <p>Bucle while Ese tipo de bucle repite un conjunto de instrucciones mientras se cumpla una determinada condición que se evalúa al principio de cada ejecución. Es evidente que las instrucciones del interior del bucle tendrán que hacer algo que pueda cambiar esa condición hasta que en algún momento deje de cumplirse. En caso contrario tendremos un bucle infinito y el programa no terminará nunca su ejecución.
    </p>
    {% endif %}


    <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut mollis orci. Nunc faucibus aliquet ligula id euismod. In vel lacus leo. Fusce rutrum leo a elementum blandit. Proin at lacus ac velit posuere ornare. Sed tempus ullamcorper risus, in bibendum sem vestibulum nec. Cras rutrum neque a interdum dapibus. Ut eu sem porttitor, sagittis massa sit amet, iaculis nisi. Pellentesque consectetur lorem purus. Proin quis est nibh. Aenean tincidunt ultricies sapien, vel aliquam sem accumsan sed. Maecenas a erat interdum, sagittis lacus at, euismod diam. Etiam tempus lorem ex, et lobortis ex mollis non. Aliquam pharetra pulvinar sem, at mollis purus scelerisque id. </p>
    <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut mollis orci. Nunc faucibus aliquet ligula id euismod. In vel lacus leo. Fusce rutrum leo a elementum blandit. Proin at lacus ac velit posuere ornare. Sed tempus ullamcorper risus, in bibendum sem vestibulum nec. Cras rutrum neque a interdum dapibus. Ut eu sem porttitor, sagittis massa sit amet, iaculis nisi. Pellentesque consectetur lorem purus. Proin quis est nibh. Aenean tincidunt ultricies sapien, vel aliquam sem accumsan sed. Maecenas a erat interdum, sagittis lacus at, euismod diam. Etiam tempus lorem ex, et lobortis ex mollis non. Aliquam pharetra pulvinar sem, at mollis purus scelerisque id. </p>
  </div>
</div>




{% include 'footer.html' %}
